<a href="https://colab.research.google.com/github/taisizidoro/Listas-Analise-de-Dados-FAE/blob/main/Lista_1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Receba a temperatura em Celsius como entrada, e como saída, dê a temperatura em Fahrenheit.

In [ ]:
tc = int(input(print("Digite o valor da temperatura em graus Celsius:")))
tf = (9/5)*tc+32
print(tf)

Digite o valor da temperatura em graus Celsius:
0
32.0

2. Calcule as raízes da equação de segundo grau, tendo como entrada os valores de a, b e c. Não se esqueça de incluir os casos em que a=0, delta > 0, delta = 0 e delta < 0.

In [ ]:
import cmath
a = int(input(print("Digite o valor de a:")))
b = int(input(print("Digite o valor de b:")))
c = int(input(print("Digite o valor de c:")))
delta = b**2 -4*a*c

if (a == 0):
  raiz = -c/b
  print("raiz = ", round(raiz,1))
elif (delta>0):
  raiz1 = (-b + (delta)**(1/2))/(2*a)
  raiz2 = (-b - (delta)**(1/2))/(2*a)
  print("raiz_1 = ",round(raiz1,1), ", raiz_2 = ", round(raiz2,1))
elif (delta==0):
  raiz = -b/(2*a)
  print("raiz = ", round(raiz,1))
elif (delta<0):
  mod_delta = -delta 
  c = (delta)**(1/2)/(2*a)
  raiz1_real = round(-b/(2*a),1) + round(c.real, 1)
  raiz1_img = round(c.imag,1)
  raiz2_real = round(-b/(2*a),1) - round(c.real, 1)
  raiz2_img = round(c.imag,1)
  print("raiz_1 = ", raiz1_real, "+", raiz1_img,"i", ", raiz_2 = ", raiz2_real, "+", raiz2_img,"i")

Digite o valor de a:
1
Digite o valor de b:
9
Digite o valor de c:
3
raiz_1 =  -0.3 , raiz_2 =  -8.7

3. Determine se um número de entrada é par ou ímpar.

In [ ]:
x = int(input(print("Digite o número:")))

if (x % 2 == 0):
  print("O número é par")
else:
  print("O número é impar")

Digite o número:
3
O número é impar

4. Escreva uma função em Python que calcule a posição de um automóvel que está em movimento retilíneo uniforme, para um dado instante t.

In [ ]:
#seja a velocidade do automóvel v = 20 m/s

def posicao():
  v = 20 
  t = int(input(print("Dê o instante t:")))
  s = v*t 
  print(s)

posicao()

Dê o instante t:
4
80

5. Pergunte ao usuário por uma string e cheque se a letra ‘s’ está contida nela.

In [ ]:
palavra = input(print("Dê o instante t:"))
elemento = "s" 
if (elemento in palavra):
  print("Está contida.")
else:
  print("Não está contida.")

Dê o instante t:
pedra
Não está contida.

6. Imprima os 100 primeiros números primos.

In [ ]:
from math import sqrt

def primo(a):
  l = [i for i in range(2,a+1)]
  
  x = True 
  for c in range(2, a):
    for i in range (2,c):
      if c%i == 0:
        x = False
        l.remove(c)
        break
        c =+1
  print(len(l), "números primos listados")
  print(l)


primo(540)

100 números primos listados
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 540]

7. Remova todos os espaços em branco e coloque a primeira letra maiúscula da lista: nomes = ['    marCELo', 'fabiana', ' MArta ', 'ELIAS']

In [ ]:
nomes = ['    marCELo', 'fabiana', ' MArta ', 'ELIAS']
nomes2 = []


for i in range(0,len(nomes),1): 
  nomes2.append(nomes[i].lower().title())
  b = " "
  for i in range(0,len(nomes2)):
    nomes2[i] =nomes2[i].replace(b,"")

nomes = nomes2
print(nomes)

['Marcelo', 'Fabiana', 'Marta', 'Elias']

8. Remova todos os elementos duplicados da lista nomes = ['carlos', 'carlos', 'leonardo', 'carlos, 'roberto', 'maria', 'gabriela', 2, 2, 2, 3, 3, 4, 'guilherme', 'gustavo']

In [ ]:
nomes = ['carlos', 'carlos', 'leonardo', 'carlos', 'roberto', 'maria', 'gabriela', 2, 2, 2, 3, 3, 4, 'guilherme', 'gustavo']

nomes = list(set(nomes))
print(nomes)

['carlos', 2, 3, 4, 'gustavo', 'gabriela', 'maria', 'roberto', 'guilherme', 'leonardo']

9. Escreva uma função que faça um loop sobre a lista primeiro_nome e a lista ultimo_nome, combine as duas e retorne uma lista como nome completo. primeiro_nome = ['Pedro', 'Patricia', 'Lilian', 'Monica'] e ultimo_nome = ['Machado', 'Oliveira', 'Silva', 'Nunes].

In [ ]:
primeiro_nome = ['Pedro', 'Patricia', 'Lilian', 'Monica']
ultimo_nome = ['Machado', 'Oliveira', 'Silva', 'Nunes']



def nome_completo():
  import itertools

  nome = []
  for p in primeiro_nome:
        for u in ultimo_nome:
            nome.append(p + " " + u)
  return nome
  print(nome)

nome_completo()

['Pedro Machado',
 'Pedro Oliveira',
 'Pedro Silva',
 'Pedro Nunes',
 'Patricia Machado',
 'Patricia Oliveira',
 'Patricia Silva',
 'Patricia Nunes',
 'Lilian Machado',
 'Lilian Oliveira',
 'Lilian Silva',
 'Lilian Nunes',
 'Monica Machado',
 'Monica Oliveira',
 'Monica Silva',
 'Monica Nunes']

10. Dada um lista como entrada, escreva uma função que retorne uma lista com os números menores que 10. Por exemplo; se a lista de entrada for [1,12,13,6,7,9] a saída deverá ser [1,6,7,9].

In [ ]:
def menor10(l):

  l = []
  ll = []
  c = True

  while c: 
    r = (input(print("Digite os números da lista, quando acabar digite q.")))
    l.append(r)
    if r == "q":
      l.remove("q")
      c = False

  for i in l: 
    i = int(i)
    if i<10:
      ll.append(i)
  print(ll)



menor10(l)

Digite os números da lista, quando acabar digite q.
1
Digite os números da lista, quando acabar digite q.
2
Digite os números da lista, quando acabar digite q.
10
Digite os números da lista, quando acabar digite q.
20
Digite os números da lista, quando acabar digite q.
q
[1, 2]

11. Crie uma função que printe todas os pares de chaves e valores com o .format(). Use o dicionário pessoas = { 'Marcelo': 'azul',  'Lilian': 'marrom', 'Bruna': 'azul', 'Leandro': 'marrom', 'Tadeu': 'verde'}, o output deverá ser: Output should be: Marcelo tem olhos azul, Lilian tem olhos marrom, Bruna tem olhos azul, Leandro tem olhos marrom, Tadeu tem olhos verde.

In [2]:
pessoas = { 'Marcelo': 'azul', 'Lilian': 'marrom', 'Bruna': 'azul', 'Leandro': 'marrom', 'Tadeu': 'verde'}

for i in pessoas: 
  print(i, "tem olhos", pessoas[i])

Marcelo tem olhos azul
Lilian tem olhos marrom
Bruna tem olhos azul
Leandro tem olhos marrom
Tadeu tem olhos verde

12. Usando a função map e função lambda, crie uma função que duplique e subtraia 1 dos elementos de uma lista.

In [11]:
l = []
ll = []
c = True

while c: 
  r = (input(print("Digite os números da lista, quando acabar digite q.")))
  l.append(r)
  if r == "q":
    l.remove("q")
    c = False

for i in l: 
  i = int(i)
  funcao = lambda i: i*2-1
  ll.append(funcao(i))
  
print(ll)

Digite os números da lista, quando acabar digite q.
3
Digite os números da lista, quando acabar digite q.
4
Digite os números da lista, quando acabar digite q.
q
[5, 7]

13. Use a função reduce junto com uma lambda para multiplicar os números de uma lista.

In [29]:
from functools import reduce

l = []
c = True

while c: 
  r = (input(print("Digite os números da lista, quando acabar digite q.")))
  if r!="q":
    l.append(int(r))
  if r == "q":
    c = False

funcao = reduce(lambda i, j: i*j, l)
    
  
print(funcao)

Digite os números da lista, quando acabar digite q.
2
Digite os números da lista, quando acabar digite q.
3
Digite os números da lista, quando acabar digite q.
q
6